.modal-content {
    width: 415px;
    height : 220px;
    margin-left: auto;
    margin-right: auto;
    border-radius: none;
    padding: 0px;

}

.modal-header {
    background-color: #5861AE;
    color: #ffff;
    height : 43px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.modal-title-div {
    /* border: 1px solid black; */
    display: flex;
    
}


.modal-title-span {
    /* border: 1px solid black; */
    margin-left: 22px;

}

.span-text {
    /* border: 1px solid black; */
    font-size: 14px;
    display: flex;
    align-items:center;
}

/* .span-icon {
   
} */

.btn-primary {
    /* border: 1px solid black; */
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 280px;
    background-color: inherit;
    border: none;

}

.btn-close {
    display: none;
    position: absolute;
}

.modal-detail-box {
    /* border: 1px solid black; */
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "Open Sans";
    font-variant: normal; 
    font-weight: 400;
}

.alert-text-btn {
    /* border: 1px solid black; */
    width: 218px;
}

.alert-caution {
    width: 34px;
    height : 30px;
     /* border: 1px solid black; */
     margin-right: 30px;
}

.cancel-proceed-btn {
    /* border: 1px solid black; */
    background-color: #5861AE;
    color: #fff;
    border-radius: 4px;
    width: 107px;
    height : 32px;
    text-decoration: none;
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-top: 20px;
    border: none;
    font-size: 14px;
}

.cancel-proceed-a {
    color: #fff;
}

/* .btn-a {
    
} */

